@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400;1,600&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-padding-top: 1rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
/*variables*/
:root{
	--main-color:#d90429;
	--text-color:#020102;
	--bg-color:#fff;
}
section{
	padding: 4rem 0 2rem;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
body{
	min-width: 100vh;
	min-height: 100vh;
	align-items: center;
	display: flex;
	background-position: center; 
	justify-content: center;
	background-image: url('your-image.jpg');
}
.container{
	max-width: 1068px;
	top: 0;
	left:0;
	bottom: 0;
	padding: 20px 100px;
	margin-left: auto;
	margin-right: auto;	
}
header{
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
header.shadow{
	background: white;
	box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
	transition: 0.5s ease;
}
.header.shadow #search-icon{
	color: black;
}
.nav{
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between ;
	padding: 20px 35px;
	max-width: 10300px;
	max-height: 75px;

}
#menu-icon{
	font-size: 64px;
	cursor: pointer;
	color:   black;
	display: none;
}
.logo{
	font-size: 2.6rem;
	font-weight: 800;
	color: black ;
	margin-right: 500px;

}
.logo span {
	color:  #d90429 ;
}
.navbar {
	display: flex;
	column-gap: 2rem;

}
.navbar a{
	color: black;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 600;

}
.navbar a:hover,
.navbar .active{
	color:  var(--main-color);
	border-bottom: 3px solid #d90429;

}


#search-icon{
	font-size: 24px;
	cursor: pointer;

}
.search-box{
	position: absolute;
	top: 110%;
	right: 0;
	left: 0;
	background: #fff;
	box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
	border: 1px solid #d90429;
	border-radius: 0.5rem;
	clip-path: circle(0% at 100% 0%);
}
.search-box.active{
	clip-path: circle(144% at 100% 0%);
	transition: 0.4s;
}
.search-box input{
	width: 100%;
	padding: 20px;
	border: none;
	outline: none;
	background: transparent;
	font-size: 1rem ;
}
.btn{
	background: red;
	color: white;
	font-size: 1rem;
	font-weight: 300;
	padding: 7px 8px;
}
.btn:hover{
	background: #fd052f;
}
.home{
	max-width: 13000px;
	margin: auto;
	width: 100%;
	min-height: 540px;
	display: flex;
	align-items: center;
	background: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center left;
}
.home-text{
	padding-left: 130px;
}
.home-text h1{
	font-size: 2.4rem;
	color: white;
}

.home-text span{
	color: #d90429;
}
.home-text p{
	font-size: 0.938rem;
	font-weight: 300;
	margin: 0.5rem 0 1.2rem;
}
.heading{
	text-align: center;
}
.heading span{
	font-weight: 500;
	color: #d90429;
}
.heading p{
	font-size: 0.938rem;
	font-weight: 300;
}
.about{
	padding: 50px 0;
	
	padding: 10px;
	border-radius:10px ;	
}
.about-text p{
	font-size: 1.2rem;
	line-height: 1.6;
	font-weight: 600;
	padding: 24px;
	background: white;
	margin: 10px auto;
	color: black;
	border-radius: 10px;
	text-align: center;
	max-width: 500px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
/* Responsive Design */
@media (max-width: 1024px) {
  .container {
    padding: 20px 40px;
  }
  .home-text {
    padding-left: 40px;
  }
  .logo {
    margin-right: 100px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 10px 10px;
  }
  .nav {
    padding: 10px 10px;
  }
  .logo {
    font-size: 2rem;
    margin-right: 20px;
  }
  .navbar {
    column-gap: 1rem;
  }
  .home-text {
    padding-left: 10px;
  }
  .about {
    flex-direction: column;
    gap: 1rem;
    padding: 20px 5px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 300px) {
  .container {
    padding: 5px 2vw;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
  }
  #menu-icon {
    display: block;
    font-size: 2rem;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
    row-gap: 0.5rem;
    column-gap: 0;
  }
  .logo {
    font-size: 1.5rem;
    margin-right: 0;
  }
  .home {
    min-height: 300px;
    flex-direction: column;
    padding: 20px 0;
  }
  .home-text h1 {
    font-size: 1.5rem;
  }
  .about-text p {
    font-size: 1rem;
    padding: 10px;
    margin: 5px 5px 5px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .about-text p {
    font-size: 1rem;
    padding: 14px;
    max-width: 95vw;
  }
}
	